.table-responsive {
    overflow-x: auto;
    white-space: nowrap; 
}

.table {
    width: 100%;
    table-layout: auto; 
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    font-family: 'Pacifico', serif;
    border: 1px solid #ddd;
}

.table thead th {
    background-color: #343a40;
    color: #fff;
}

.CuadroConfirmacion {
    color: red;
}

/* Button */
.btn-circle {
    z-index: 100;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    width: 70px; 
    height: 70px; 
    padding: 0; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; 
    border: 2px solid #e0e0e0; 
    background-color: #20475f; 
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    transition: all 0.3s ease-in-out; 
}

.btn-circle:hover {
    background-color: rgba(30, 37, 44); 
    color: #a7d4e5; 
    border-color: #cccccc; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

.btn-circle:focus {
    outline: none;
    border-color: rgb(2, 129, 2);
    box-shadow: 0 0 8px rgb(2, 129, 2, 0.4);
}

/* Button Icon */
.fas {
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.fas:hover {
    color: #a7d4e5;
}
